#extensionpopupcontainer extensionpopup,
#extensionpopupcontainer extensionpopup::before,
#extensionpopupcontainer extensionpopup::after {
    box-sizing: initial !important;
}

#extensionpopupcontainer .flip-clock-label,
.flip-clock-dot.top,
.flip-clock-dot.bottom,
.flip-clock-divider.days,
.flip-clock-divider.hours,
.clock ul:nth-child(1),
.clock ul:nth-child(2),
.clock ul:nth-child(3) {
    display: none;
}

#extensionpopupcontainer .flip-clock-label {
    display: block;
}

#extensionpopupcontainer #clock1 {
    position: absolute;
    top: 29%;
    left: 126%;
    width: 700px;
    margin-left: -350px;
    height: 100px;
    margin-top: -60px;
}

#extensionpopupcontainer .feedback-button {
    border: solid 3px #797474;
    background: #585757;
    -webkit-transform: rotate(0deg);
    font-weight: 600;
    color: rgba(255, 255, 255, 0.171);
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    text-align: center;
    font-size: 17px;
    position: fixed;
    right: 31%;
    top: 88%;
    font-family: "Roboto", helvetica, arial, sans-serif;
    z-index: 999;
}



#extensionpopupcontainer .wrapper {
    display: flex;
    flex-direction: column;
}

#extensionpopupcontainer .flip-clock {
    text-align: center;
    perspective: 400px;
}

#extensionpopupcontainer .flip-clock *,
.flip-clock *:before,
.flip-clock *:after {
    box-sizing: border-box;
}

#extensionpopupcontainer .flip-clock__piece {
    display: inline-block;
    margin: 0 5px;
}

#extensionpopupcontainer .flip-clock__slot {
    font-size: 4vw;
}

#extensionpopupcontainer .card {
    display: block;
    position: relative;
    padding-bottom: 0.72em;
    font-size: 9vw;
    line-height: 0.95;
}

#extensionpopupcontainer .card__top,
.card__bottom,
.card__back::before,
.card__back::after {
    display: block;
    height: 0.72em;
    color: #ccc;
    background: #222;
    padding: 0.25em 0.25em;
    border-radius: 0.15em 0.15em 0 0;
    backface-visiblity: hidden;
    transform-style: preserve-3d;
    width: 1.8em;
    transform: translateZ(0);
}

#extensionpopupcontainer .card__bottom {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 0;
    border-top: solid 1px #eeeeee;
    background: #eeeded;
    border-radius: 0 0 0.15em 0.15em;
    pointer-events: none;
    overflow: hidden;
}

#extensionpopupcontainer .card__bottom::after {
    display: block;
    margin-top: -0.72em;
}

#extensionpopupcontainer .card__back::before,
.card__bottom::after {
    content: attr(data-value);
}

#extensionpopupcontainer .card__back {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0%;
    pointer-events: none;
}

#extensionpopupcontainer .card__back::before {
    position: relative;
    z-index: -1;
    overflow: hidden;
}

#extensionpopupcontainer .flip .card__back::before {
    -webkit-animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
    animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transform-origin: center bottom;
}

#extensionpopupcontainer .flip .card__back .card__bottom {
    transform-origin: center top;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
    animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
}

@-webkit-keyframes flipTop {
    0% {
        transform: rotateX(0deg);
        z-index: 2;
    }

    0%,
    99% {
        opacity: 0.99;
    }

    100% {
        transform: rotateX(-90deg);
        opacity: 0;
    }


}

@keyframes flipTop {
    0% {
        transform: rotateX(0deg);
        z-index: 2;
    }

    0%,
    99% {
        opacity: 0.99;
    }

    100% {
        transform: rotateX(-90deg);
        opacity: 0;
    }


}

@-webkit-keyframes flipBottom {

    0%,
    50% {
        z-index: -1;
        transform: rotateX(90deg);
        opacity: 0;
    }

    51% {
        opacity: 0.99;
    }

    100% {
        opacity: 0.99;
        transform: rotateX(0deg);
        z-index: 5;
    }


}

@keyframes flipBottom {

    0%,
    50% {
        z-index: -1;
        transform: rotateX(90deg);
        opacity: 0;
    }

    51% {
        opacity: 0.99;
    }

    100% {
        opacity: 0.99;
        transform: rotateX(0deg);
        z-index: 5;
    }


}

.clock {
    margin: 3em 1em;
}

#extensionpopupcontainer body {
    box-sizing: border-box;
    font-family: monospace;
    display: flex;
    flex-direction: column-reverse;
    place-items: center;
}

#extensionpopupcontainer .app {
    top: 50%;
}

#extensionpopupcontainer .base-timer {
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
}

#extensionpopupcontainer .base-timer__svg {
    transform: scaleX(1);
}

#extensionpopupcontainer .base-timer__circle {
    fill: none;
    stroke: none;
}

#extensionpopupcontainer .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: eeeeee;
}

#extensionpopupcontainer .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

#extensionpopupcontainer .base-timer__path-remaining.arc {
    color: rgba(48, 153, 179, 0.973)
}

#extensionpopupcontainer .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

#extensionpopupcontainer .buttons {
    align-items: center;
}

#extensionpopupcontainer #start {
    background-color: #79C779
}

#extensionpopupcontainer #submit {
    background-color: #d3d3d3;
}

#extensionpopupcontainer #stop {
    background-color: #f1f1f1;
    z-index: 1;
}

#extensionpopupcontainer #enter {
    background-color: #eee6e6;
    z-index: 1;
}

#extensionpopupcontainer #submit:hover {
    background-color: #eeeeee;
}

#extensionpopupcontainer .dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#extensionpopupcontainer .dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

#extensionpopupcontainer .dropdown-content {
    display: none;
    position: absolute;
    background-color: #6e6a6a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#extensionpopupcontainer .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#extensionpopupcontainer .dropdown-content a:hover {
    background-color: #ddd
}

#extensionpopupcontainer .show {
    display: block;
}

#extensionpopupcontainer .buttons button {
    margin: 0.2rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    border: 2px solid;
    width: 96px;
    height: 19px;
    border-radius: 0px;
    padding: 1px;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
}

#extensionpopupcontainer .buttons button:hover {
    cursor: pointer;
    border: 3px solid black;
}

#extensionpopupcontainer .buttons button:disabled {
    cursor: not-allowed;
}

#extensionpopupcontainer .buttons button:disabled:hover {
    background-color: blue;
}

#extensionpopupcontainer .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

#extensionpopupcontainer .left {
    left: 0;
    padding-top: 100px;
}

#extensionpopupcontainer .right {
    right: 0;
}

#extensionpopupcontainer .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#extensionpopupcontainer .centered img {
    width: 150px;
    border-radius: 50%;
}

#extensionpopupcontainer .btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

#extensionpopupcontainer .btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

#extensionpopupcontainer .btn {
    margin-bottom: 10px;
}

#extensionpopupcontainer .wrapper {
    justify-content: center;
}

#extensionpopupcontainer .wrapper {
    justify-content: center;
    margin: auto;
    top: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#extensionpopupcontainer .clock {
    justify-content: center;
}

#extensionpopupcontainer .flip-clock {
    position: absolute;
    top: 36px;
    bottom: 0;
    right: 0;
    left: 0;
}
